<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class='body'>
    <nav class="navbar fixed-top px-lg-0 navbar-expand-lg navbar-light bg-light">
        <div id='nav' v-for='user in nav' class='container p-lg-0'>
            <span class="navbar-brand d-flex flex-fill">
                <img src="logo/logo.png" width="134" height="24" alt="">
            </span>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav justify-content-start d-flex flex-fill">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#About-me">About me</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#Relationships">Relationships</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#Requirements">Requirements</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#Users">Users</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#Registration">Sign up</a>
                    </li>
                </ul>
            </div>
            <div class="flex-fill justify-content-end align-items-center d-none d-lg-flex">
                <ul class='list-unstyled mb-0'>
                    <li class='d-flex justify-content-end'>
                        <small class='font-weight-bold'>
                            {{ user.name }}
                        </small>
                    </li>
                    <li class='text-muted d-flex'>
                        <small>
                            {{ user.email }}
                        </small>
                    </li>
                </ul>
                <img :src="user.photo" class='ml-2 rounded-circle' width="47px" height="48px" alt="">
                <img src="icons/sign-out.svg" class='ml-3' width="24" height="20" alt="">
            </div>
            <button class="navbar-toggler" @click='showNav'>
                <img src="icons/line-menu.svg" width="23px" height="22px" alt="">
            </button>
            <div v-click-outside="outside" class="sidenav">
                <img :src="user.photo" class='ml-3 mb-3 rounded-circle' width="68px" height="69px" alt="">
                <div class='ml-3'>
                    <h4 class='d-flex username mb-1'>
                        {{ user.name }}
                    </h4>
                    <h6 class='text-muted d-flex'>
                        {{ user.email }}
                    </h6>
                </div>
                <hr>
                <a class="ml-3" href="#About-me">About me</a>
                <a class="ml-3" href="#Relationships">Relationships</a>
                <a class="ml-3" href="#Requirements">Requirements</a>
                <a class="ml-3" href="#Users">Users</a>
                <a class="ml-3" href="#Registration">Sign up</a>
            </div>
        </div>
    </nav>
    
    <section class='first-section bg-special text-light d-flex h-100-min py-7'>
        <div class="container mx-auto px-3 px-sm-0 align-self-center">
            <div class="col-sm-8 col-lg-6 text-center text-md-left mt-5 px-0 mx-auto mx-md-0">
                <h1>Test assignment for Frontend Developer position</h1>
                <p class='my-4 main-text'></p>
                <a id='link-button' class='btn btn-signup mt-1 w-50 text-light font-weight-bold' href="#Registration">Sign Up</a>
            </div>
        </div>
    </section>
    
    <section id="About-me" class="d-flex second-section py-7">
        <div class='container align-self-center'>
            <h2 class="text-center">Let's get acquainted</h2>
            <div class="mt-5 mx-md-0 mx-auto row w-100">
                <div class="col-md-4 mb-md-0 mb-4 col-12 text-center">
                    <img src="imgs/man-mobile.svg" class='img-fluid' alt="Let's get acquainted">
                </div>
                <div class="col-md-8 col-12 text-md-left text-center">
                    <h3 class='mb-3'>I am a cool frontend developer</h3>
                    <p>
                        When real users have a slow experience on mobile, they're much less likely to find what they are looking for or purchase from you in the future. For many sites this equates to a huge missed opportunity, especially when more than half of visits are abandoned if a mobile page takes over 3 seconds to load.
                        <br><br>
                        Last week, Google Search and Ads teams announced two new speed initiatives to help improve user-experience on the web.
                    </p>
                    <a id='link-button' class='font-weight-bold' href="#Registration">Sign up</a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="Relationships" class="d-flex third-section py-7">
        <div class="container align-self center">
            <h2 class="text-center">About my relationships with <br> web-development</h2>
            <div class="row text-md-left text-center mt-5 mx-md-0 mx-4">
                <div class="col-lg col-12 row mx-auto px-0">
                    <div class='col-md-3 col-lg-12 text-lg-left text-center mt-icon px-0'>
                        <img src="imgs/html.svg" width="98px" height="111px" alt="HTML">
                    </div>
                    <div class='col-md-9 col-lg-11 h-50 px-0'>
                        <h4 class='mt-title'>I'm in love with HTML</h4>
                        <p>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.</p>
                    </div>
                </div>
                <div class="col-lg col-12 row mx-auto px-0 my-center-block mt-lg-0 mb-lg-0">
                    <div class='col-md-3 col-lg-12 text-lg-left text-center mt-icon px-0'>
                        <img src="imgs/css.svg" width="98px" height="111px" alt="CSS">
                    </div>
                    <div class='col-md-9 col-lg-11 h-50 px-0'>
                        <h4 class='mt-title'>CSS is my best friend</h4>
                        <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
                    </div>
                </div>
                <div class="col-lg col-12 row mx-auto px-0">
                    <div class='col-md-3 col-lg-12 text-lg-left text-center my-lg-0 mt-icon px-0'>
                        <img src="imgs/javascript.svg" width="98px" height="111px" alt="JS">
                    </div>
                    <div class='col-md-9 col-lg-11 h-50 px-0'>
                        <h4 class='mt-title'>JavaScript is my passion</h4>
                        <p>JavaScript is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="Requirements" class="d-flex four-section h-75-min py-7">
        <div class="container-sm-fluid container px-3 align-self-center">
            <h2 class="text-center">General requirements for the test task</h2>
            <div class="mt-lg-5 mt-4 row">
                <div class="col-md d-block d-md-none align-self-center text-center">
                    <img src="imgs/man-laptop-v1.svg" class='img-fluid' alt="">
                </div>
                <div class="mt-lg-0 mt-4 px-md-0 px-3 col-md col-12">
                    <p class='text-md-left text-center'>
                        Users want to find answers to their questions quickly and data shows that people really care about how quickly their pages load. The Search team announced speed would be a ranking signal for desktop searches in 2010 and as of this month (July 2018), page speed will be a ranking factor for mobile searches too.
                        <br><br>
                        If you're a developer working on a site, now is a good time to evaluate your performance using our speed tools. Think about how performance affects the user experience of your pages and consider measuring a variety of real-world user-centric performance metrics.
                        <br><br>
                        Are you shipping too much JavaScript? Too many images? Images and JavaScript are the most significant contributors to the page weight that affect page load time based on data from HTTP Archive and the Chrome User Experience Report - our public dataset for key UX metrics as experienced by Chrome users under real-world conditions.
                    </p>
                </div>
                <div class="col-md d-none d-md-block align-self-center text-center">
                    <img src="imgs/man-laptop-v1.svg" class='img-fluid' alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section id="Users" class="d-flex five-section py-7">
        <div class="container px-0 mx-auto align-self-center">
            <h2 class="text-center">Our cheerful users</h2>
            <h5 class="text-center mt-4 attention col-md-12 col-8 px-0 mx-auto">Attention! Sorting users by registration date</h5>
            <div id='task-2'>
                <div class="row w-100 mx-auto text-md-left text-center mt-5">
                    <div v-for="user in users" class="col-md-4 mb-md-5 mx-md-0 mx-auto row col-12 user-block">
                        <div class='col-md-5 col-lg-3 my-md-0 mb-2 mt-4'>
                            <img class='rounded-circle' :src="user.photo" width="80px" height="80px" alt="User image">
                        </div>
                        <div class='col-md-7 col-lg-9 pl-4 overflow'>
                            <h4 class='mt-md-4 mb-1 mb-md-2 font-weight-bold'>{{user.name}}</h4>
                            <span class="text-muted">{{user.position}}</span>
                            <br>
                            <span class="text-muted">{{user.email}}</span>
                            <br>
                            <span class="text-muted">{{user.phone}}</span>
                        </div>
                    </div>
                </div>
                <div class="text-center mx-lg-0 mx-4 btn-show">
                    <a v-on:click="next_url" v-show="visible" class='btn btn-action btn-showmore w-25 font-weight-bold rounded'>Show more</a>
                </div>
            </div>
        </div>
    </section>
    <section id='Registration' class="d-flex six-section py-7">
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Congratulations</h5>
              </div>
              <div class="modal-body">
                  You have successfully passed the registration
              </div>
              <div class="modal-footer">
                <button type="button" class="btn font-weight-bold" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container align-self-center">
            <h2 class="text-center">Register to get a work</h2>
            <h5 class="text-center mt-4 attention col-lg-12 col-md-8 col-12 px-0 mx-auto ">Attention! After successful registration and alert, update the list of users in the block from the top</h5>
            <div class="mx-auto row mt-5">
                <div class="col-md form-group my-0 rounded">
                    <label>Name</label>
                    <input id='name' class='form-control' placeholder="Your name" type="text" />
                </div>
                <div class="col-md form-group form-group-spacing my-0 rounded">
                    <label>Email</label>
                    <input id='email' class='form-control' placeholder="Your email" type="email" />
                </div>
                <div class="col-md form-group my-0 rounded">
                    <label>Phone</label>
                    <input id='phone' class='form-control' placeholder="+38(___)___ __ __" type="text" />
                </div>
            </div>
            <div class="w-100"><!-- SPACER --></div>
            <div class="row mx-auto mt-form">
                <select class='col-md form-group form-group-spacing my-0 rounded'>
                    <option>
                        Select your position
                    </option>
                    <option v-for="item in items" v-bind:value="item.position_id">
                        {{item.name}}
                    </option>
                </select>
                <div class="mx-special"></div>
                <div class="col-md form-group my-0 d-flex rounded p-0">
                    <p style="text-overflow: ellipsis; overflow: hidden" class='mb-0 align-self-center col-7 pr-0'>{{files}}</p>
                    <input class='form-control invisible' @change="previewFiles" id='file' type="file"/>
                    <label for='file' class="input-group-append p-2 btn-upload px-4 font-weight-bold">
                        <span class='align-self-center mb-0 d-sm-block d-none'>Upload</span>
                        <span class='align-self-center mb-0 d-sm-none d-block'><img src="icons/upload.svg" alt=""></span>
                    </label>
                    <label class='mt-info'>File format up to 5 MB, the minimum size of 70x70px</label>
                </div>
            </div>
            <div class="text-center btn-show mx-2">
                <a v-on:click="postPost" class='btn btn-action w-25 font-weight-bold rounded'>Sign up</a>
            </div>
        </div>
    </section>
    
    <footer>
        <div class='d-flex py-4 mt-5'>
            <div class="container px-0 align-self-center">
                <div class="row w-100 mx-auto">
                    <div class='col-md-3 px-0 text-md-left text-center'>
                        <img src="logo/logo-white.png" width="134px" height="24px" alt="">
                    </div>
                    <div class="col-md-9 px-0 text-md-right text-center footer-links-high">
                        <a class='mx-md-3 mt-3 d-md-inline d-block text-light' href="#About-me">About me</a>
                        <a class='mx-md-3 my-1 d-md-inline d-block text-light' href="#Relationships">Relationship</a>
                        <a class='mx-md-3 my-1 d-md-inline d-block text-light' href="#Requirements">Requirements</a>
                        <a class='mx-md-3 my-1 d-md-inline d-block text-light' href="#Users">Users</a>
                        <a class='ml-md-3 mx-md-0 mx-3 my-1 d-md-inline d-block text-light' href="#Sign-up">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex container px-0 pt-3 hr-footer">
            <div class="row container-fluid mx-auto px-0 footer-links">
                <div class="mx-auto mx-md-0 text-md-left text-center">
                    <ul class="list-unstyled footer-titles">
                      <li class='d-flex align-items-center'>
                          <img class='d-lg-flex d-none' src="icons/mail.svg" width="24px" height="18px" alt="">
                          <span class='ml-2'>example@gmail.com</span>
                      </li>
                      <li class='my-3 justify-content-md-start justify-content-center d-flex align-items-center'>
                          <img class='d-lg-flex d-none' src="icons/phone.svg" width="20px" height="20px" alt="">
                          <span class='ml-2'>+38 (050) 999 99 99</span>
                      </li>
                      <li class='d-flex justify-content-md-start justify-content-center align-items-center'>
                          <img class='d-lg-flex d-none' src="icons/cellphone.svg" width="19px" height="26px" alt="">
                          <span class='ml-2'>+38 (095) 999 99 99</span>
                      </li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-2 ml-auto px-0 justify-content-end text-right d-md-flex d-none">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">News</a>
                      </li>
                      <li>
                        <a href="#!">Blog</a>
                      </li>
                      <li>
                        <a href="#!">Partners</a>
                      </li>
                      <li>
                        <a href="#!">Shop</a>
                      </li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-2 ml-auto px-0 justify-content-end text-right d-md-flex d-none">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Overview</a>
                      </li>
                      <li>
                        <a href="#!">Design</a>
                      </li>
                      <li>
                        <a href="#!">Code</a>
                      </li>
                      <li>
                        <a href="#!">Collaborate</a>
                      </li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-2 ml-auto px-0 justify-content-end text-right d-md-flex d-none">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Tutorials</a>
                      </li>
                      <li>
                        <a href="#!">Resources</a>
                      </li>
                      <li>
                        <a href="#!">Guides</a>
                      </li>
                      <li>
                        <a href="#!">Examples</a>
                      </li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-2 ml-auto px-0 justify-content-end text-right d-md-flex d-none">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">FAQ</a>
                      </li>
                      <li>
                        <a href="#!">Terms</a>
                      </li>
                      <li>
                        <a href="#!">Conditions</a>
                      </li>
                      <li>
                        <a href="#!">Help</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-socials container mt-md-0 mt-2 px-0">
            <div class="text-md-right text-center">
                <img class='mx-2' src="icons/pinterest.svg" width="26px" height="26px" alt="">
                <img class='mx-2' src="icons/twitter.svg" width="26px" height="26px" alt="">
                <img class='mx-2' src="icons/instagram.svg" width="26px" height="26px" alt="">
                <img class='mx-2' src="icons/linkedin.svg" width="26px" height="26px" alt="">
                <img class='ml-2' src="icons/facebook.svg" width="26px" height="26px" alt="">
            </div>
        </div>
    </footer>
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src='script.js'></script>
</body>
</html>